<%- include('partials/head') %> <%- include('partials/header') %>
<main>
  <h1><%= course.title %></h1>
  <p><%= course.description %></p>
  <p>Category: <%= course.category %></p>
  <p>Visibility: <%= course.visibility %></p>
</main>
<%- include('partials/footer') %>
